/*styles.css*/

body {
    margin: 0;
    padding: 0;
    min-height: 1000px;
    background: #f5f5f5;
    /*linear-gradient(to bottom, #f5f5f5, #4d4d4d)*/
    ;
    background-repeat: no-repeat;
    color: #4d4d4d;
}

div {}
h1 {}

input {
    font-style: italic;
    color: #e6e6e6;
}

button {
    border: none;
    background: #f5f5f5;
}

button:hover {
    text-decoration: underline;
}

.layout {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.title {
    color: #e6e6e6;
}

.input {}
.menu {}
.roundedTwo {
	float: left;
/*    width: 28px;
    height: 28px;*/
/*    position: relative;
    margin: 20px auto;*/
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    /*    label {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 4px;
        left: 4px;
        cursor: pointer;
        background: linear-gradient(top, #222 0%, #45484d 100%);
        border-radius: 50px;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
        &:after {
            content: '';
            width: 9px;
            height: 5px;
            position: absolute;
            top: 5px;
            left: 4px;
            border: 3px solid #fcfff4;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg);
        }
        &:hover::after {
            opacity: 0.3;
        }
    }
    input[type=checkbox] {
        visibility: hidden;
        &:checked + label:after {
            opacity: 1;
        }
    }*/
}

.roundedTwo label {
	float: left;
/*    width: 20px;
    height: 20px;*/
    /*position: absolute;*/
/*    top: 4px;
    left: 4px;*/
    cursor: pointer;
    /*background: linear-gradient(top, #222 0%, #45484d 100%);*/
    background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
}

.roundedTwo label:after {
	float: left;
    content: '';
/*    width: 9px;
    height: 5px;*/
    /*position: absolute;
    top: 5px;
    left: 4px;*/
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    transform: rotate(-45deg);
}

.roundedTwo label:hover::after {
    opacity: 0.3;
}

.roundedTwo input[type=checkbox] {
    visibility: hidden;
    /*&:checked + label:after {
        opacity: 1;
    }*/
}

.roundedTwo input[type=checkbox]:checked label:after {
    opacity: 1;
}

.dynamicList {
	list-style-type: none;
}

.checkBox {
	float: left;
	display: inline-block;
}

.task {
	float: left;
	clear: left;
	display: inline-block;
/*	column-span: all;
*/}










